/* Variables */
:root {
    --font-size-base: 10px;
    --font-color-light: #fff;
    --font-color-dark: #000;
    --font-color-gray: #888;
    --dark-color: #000;
    --light-color: #fff;
    --primary-color: #0070c9;
    --hover-color: #003a6a;
    --section-max-width: 130rem;
    --max-width: 98rem;
    --padding-global: 2.2rem;
    --header-height: 4.4rem;
    --hero-height-large: 69.2rem;
    --hero-height-medium: 65rem;
    --hero-height-small: 50rem;
    --font-heading-large: 5.6rem;
    --font-heading-medium: 4.4rem;
    --font-heading-small: 3.2rem;
    --font-subheading-large: 2.65rem;
    --font-subheading-medium: 2.4rem;
    --font-subheading-small: 1.9rem;
    --font-cta: 2.1rem;
}

/* Global */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size-base);
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--padding-global);
}

.section-container {
    max-width: var(--section-max-width);
    margin: 0 auto;
    padding: 0 var(--padding-global);
}

/* for felx and grid */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.gap-small {
    gap: 0.5rem;
}

.gap-medium {
    gap: 1rem;
}

.gap-large {
    gap: 2rem;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.grid-row {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Row-based grid layout */
}

.grid-column {
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    /* Column-based grid layout */
}

/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* backdrop-filter: blur(2rem); */
    /* transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), */
    /* height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1); */

}

.nav-list {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
    top: 10px;
    width: 100%;
    z-index: 1400;
    color: var(--dark-color);
    /* margin: 40px auto; */
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 15px;
    padding: 1.2rem;
    backdrop-filter: blur(10px);
    font-weight: 300;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: var(--font-color-dark);
    padding: 0 1rem;
    transition: opacity 0.5s;
}

.nav-link:hover {
    opacity: 0.7;
}

.nav-link-apple,
.nav-link-search,
.nav-link-bag {
    height: var(--header-height);
}

.nav-link-apple {
    width: 1.6rem;
}

.nav-link-search {
    width: 1.6rem;
}

.nav-link-bag {
    width: 1.4rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Center the .title within the parent container */
.title {

    color: var(--font-color-light);
    text-align: center;
    padding-top: 5.5rem;
}

/* Style the title heading */
.title-heading {
    margin-top: auto;
    font-size: var(--font-heading-large);
    font-weight: lighter;
    line-height: 1.07143;
    letter-spacing: -0.005rem;
}

.title-sub-heading {
    font-size: var(--font-subheading-large);
    margin-top: 0.6rem;
    letter-spacing: 0.008rem;
    font-weight: 400;
}

.title-price {
    font-size: 1.7rem;
    color: var(--font-color-gray);
    margin-top: 0.68rem;
}

/* CTA */
.cta {
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link {
    font-size: var(--font-cta);
    padding: 0.5rem;
    background: transparent;
    color: var(--font-color-light);
    border-radius: 5px;
    display: inline-block;
    transition: border-bottom 0.3s;
}

.cta-link:nth-child(2) {
    margin-left: 2.6rem;
}

.cta-link:hover {
    border-bottom: 2px solid var(--hover-color);
}

/* Dark theme */
.title-dark {
    color: var(--font-color-dark);
}

.cta-link-darker {
    color: var(--primary-color);
}

.cta-link-darker:hover {
    border-bottom-color: var(--primary-color);
}

.title-heading-watch {
    height: 7.8rem;
    background-size: auto 7.8rem;
    margin-top: 1.6rem;
}

/* Hero Section */
.hero {
    height: var(--hero-height-large);
    background-image: url('/images/bg_1.jpg');
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 0.6rem solid var(--font-color-light);
    border-bottom: 0.6rem solid var(--font-color-light);
}

.product {
    border-top: none;
}

.list-mobile-nav {
    display: none;
}
.title-heading-product {
    font-size: var(--font-heading-large);
    margin: 30px auto; 
    padding: 0; 
    text-align: center; 
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    height: 600px;
    /* Adjust based on your image height */
    margin: 0 auto;
}

.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

/* Footer.css */
.footer {
    background-color: var(--light-color);
    color: var(--font-color-dark);
    text-align: left;
    padding: 40px 20px;
    position: relative;
    bottom: 0;
    margin: 50px 50px 0 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-list {
    font-size: 2rem;
    color: var(--font-color-dark);
}

.footer-column {
    flex: 1;
    padding: 0 10px;
}

.footer-column h3 {
    margin-top: 0;
    font-size: var(--font-heading-small);
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.footer-column p {
    margin: 0;
    font-size: 2rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: var(--font-color-dark);
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-column {
        padding: 10px 0;
        text-align: center;
    }
}


/* Responsive Design */
@media screen and (max-width: 1068px) {
    .hero {
        height: var(--hero-height-medium);
        background-size: auto 69.8rem;
        background-position: bottom center;
    }

    .title-heading {
        font-size: var(--font-heading-medium);
    }

    .title-sub-heading {
        font-size: var(--font-subheading-medium);
    }

    .cta-link:nth-child(2) {
        margin-left: 2rem;
    }

    .title-heading-watch {
        height: 6.2rem;
        background-size: auto 6.2rem;
    }
}

@media screen and (max-width: 767px) {
    header {
        height: 4.8rem;
    }

    header .container {
        padding: 0;
    }



    .nav-list {
        top: 0;
        margin-top: 0;
    }

    .nav-list-mobile {
        display: block;
    }

    .nav-item {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden {
        display: none;
    }

    .mobile-menu {
        position: relative;
        z-index: 1500;
        width: 50px;
        /* height: 50px; */
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line {
        position: absolute;
        width: 1.7rem;
        height: 0.5px;
        background-color: var(--font-color-light);
        transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .line-top {
        margin-top: 0.3rem;
    }

    .line-bottom {
        margin-top: -0.4rem;
    }

    .active .line-top {
        margin-top: 0;
        transform: rotate(45deg);
        transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .active .line-bottom {
        margin-top: 0;
        transform: rotate(-45deg);
        transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    header.active {
        height: 100%;
        background-color: var(--font-color-dark);
    }

    .nav-link-apple {
        width: 1.8rem;
    }

    .nav-link-bag {
        width: 1.6rem;
        transition: opacity 3s;
    }

    .nav {
        position: relative;
    }

    .nav-link {
        font-size: 1.7rem;
        margin: auto 0;
    }


    .nav-list-larger {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        padding: 10.5rem 5rem;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
    }

    .active .nav-list-larger {
        width: 100%;
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }

    .active .nav-link-bag {
        opacity: 0;
        transition: opacity 0.3s;
    }

    .nav-list-larger .nav-item {
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    .nav-list-larger .nav-item:nth-child(9) {
        border-bottom: none;
    }

    .active .nav-list-larger .nav-item {
        animation: fadeIn 1s ease-in;
    }

    .nav-link-small {
        display: none;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: auto;
        text-decoration: none;
        color: var(--light-color);
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 735px) {
    .hero {
        height: var(--hero-height-small);
        background-size: auto 54.8rem;
    }

    .title {
        padding: 3.7rem;
    }

    .title-heading {
        font-size: var(--font-heading-small);
    }

    .title-sub-heading {
        font-size: var(--font-subheading-small);
    }

    .title-heading-watch {
        margin-top: -0.5rem;
    }

    .title-price {
        font-size: 1.4rem;
    }

    .cta {
        margin-top: 0.7rem;
    }

    .cta-link {
        font-size: 1.9rem;
    }
}

.light-text {
    color: var(--font-color-gray);
}

.about-description {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: var(--font-heading-small);

}

.section-title {
    font-size: var(--font-heading-large);
}

.section-sub-title {
    font-size: var(--font-heading-medium);
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.about-image,
.about-video {
    width: 100%;
    max-width: 800px;
}

.about-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.about-vid {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-desc {
    font-size: 1.8rem;
    justify-content: end;
}

@media (min-width: 768px) {
    .about-section {
        flex-direction: row;
        gap: 40px;
    }

    .about-image,
    .about-video {
        width: 50%;
    }
}

/* Light Theme Button */
.button-light {
    background-color: transparent;
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
    font-weight: 600;
    padding: 1.25rem 1.25rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button-light:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    border-color: transparent;
    cursor: pointer;
}

/* Dark Theme Button */
.button-dark {
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    color: var(--light-color);
    font-weight: 600;
    padding: 1.25rem 1.25rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button-dark:hover {
    background-color: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    cursor: pointer;
}